@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

* {
    font-family: "Roboto", "Apple Color Emoji", sans-serif;
}

@layer utilities {
    @keyframes bounce-slow {
        0%,
        100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-6px);
        }
    }

    @keyframes marquee {
        0% {
            transform: translateX(35%);
        }
        100% {
            transform: translateX(-100%);
        }
    }

    .animate-marquee {
        display: inline-block;
        animation: marquee 60s linear infinite;
        white-space: nowrap;
    }

    .group:hover .animate-marquee {
        animation-play-state: paused;
    }
}
